<h1>This is the Home Page</h1>

<ul>
<%- files.each do |file| -%>
<li>
    <a href='/<%= file[0, file.index(".md").as(Int32)] %>'><%= file[0, file.index(".md").as(Int32)] %></a></li>
<%- end -%>
</ul>