<h1>This is the Home Page</h1>

<ul class="article-list">
    <%- articles.each do |a| -%>
    <li>
        <a href='/<%= a["slug"] %>'><%= a["title"] %></a></li>
    <%- end -%>
</ul>

<style>
ul.article-list {
    list-style-type: none;
    padding-left: 0;
}
</style>