{% extends "layouts/base.html" %}
{% block content %}
<h1>{{ title }}</h1>
<form
  id="frm-login"
  class="login"
  hx-post="/admin/login/auth"
  hx-indicator="#loginSpinner"
>
  <label for="inpUsername">Username</label>
  <input type="text" name="username" id="inpUsername">
  <label for="inpPassword">Password</label>
  <input type="password" name="password" id="inpPassword">
  <div class="button-row">
    <button class="halfwidth">
      Sign in
      <span class="spinner spinner--hidden" id="loginSpinner"></span>
    </button>
  </div>
  <div class="error-message"></div>
</form>
<style>
.error-message {
  margin-top: 20px;
}
</style>
{% endblock %}