<h1>Tags</h1>

<ul class="tag-list">
    <%- tags.each do |t| -%>
    <li>
        <a href='/tag/<%= t %>'><%= t %></a>
    </li>
    <%- end -%>
</ul>

<style>
ul.tag-list {
    list-style-type: none;
    padding-left: 0;
}
ul.tag-list li {
    display: inline-block;
}
</style>