{% for im in images %}
  <li data-url="{{ im }}">
    <a
      href="#"
      class="imglink"
      hx-get="/admin/get_image/{{ im }}"
      hx-trigger="load"
      _="on click call showModal('{{ im }}')"
    >
      <span class="spinner imgLoading"></span>
    </a>
    <button class="copymd icon" title="Copy markdown link" data-url="{{ im }}">
      <svg data-url="{{ im }}" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-copy"><rect x="9" y="9" width="13" height="13" rx="2" ry="2"></rect><path d="M5 15H4a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2h9a2 2 0 0 1 2 2v1"></path></svg>
    </button>
  </li>
{% endfor %}