<div
  class="inline-validated"
  hx-target="this"
  hx-swap="outerHTML"
  {% if error %}{% if error.show_as_error %}class="error"{% endif %}{% endif %}
>
  <label for="inpSlug">
    Slug
    <span class="autosaved hidden">✔ Autosaved</span>
  </label>
  <input
    type="text"
    data-articleid="{{ article_id }}"
    hx-post="/admin/validate_slug"
    hx-trigger="changed, blur"
    name="slug"
    id="inpSlug"
    value="{{ value }}"
  >
  <!-- _="on input call doAutosave(event.target)" -->
  {% if error %}<div class='{% if error.show_as_error %}error-message{% endif %} small'>{{ error.message }}</div>{% endif %}
</div>