<div id="article-props-container">
  <div>
    <h1>Article status: <span id="article-status">{% if article.draft %}draft{% else %}published{% endif %}</span></h1>
    <div id="confirm-published"></div>
  </div>

  <form id="frm-article-properties">
    <input type="hidden" name="article_id" id="inpArticleID" value="{{ article.id }}">
    <input type="hidden" name="draft" id="inpDraft" value="{{ article.draft }}">

    <label for="inpTitle">
      Title
      <span class="autosaved hidden">✔ Autosaved</span>
    </label>
    <input
      type="text"
      name="title"
      id="inpTitle"
      value="{{ article.title }}"
      autofocus
    >

<!--
      _=" on load call set_my_value(me)
          on input call doAutosave(event.target)
            if < #revert /> is not empty
              remove .hidden from #revert
            end
            if #inpDraft.value === '1'
              set #inpSlug.value to slugify(my value)
              call doAutosave(#inpSlug)
            end
          end
      "
-->

    <div hx-target="this" hx-swap="outerHTML">
      <label for="inpSlug">
        Slug
        <span class="autosaved hidden">✔ Autosaved</span>
      </label>
      <input
        type="text"
        hx-post="/admin/validate_slug"
        hx-trigger="changed, blur"
        name="slug"
        id="inpSlug"
        value="{{ article.slug }}"
      >
<!--
        _=" on load call set_my_value(me)
            on input
              call doAutosave(event.target)
              if < #revert /> is not empty
                remove .hidden from #revert
              end
            end
            "
-->
    </div>

    <div hx-target="this" hx-swap="outerHTML">
      <label for="inpDate">
        Publication date
        <span class="autosaved hidden">✔ Autosaved</span>
      </label>
      <input
        type="date"
        hx-post="/admin/validate_date"
        hx-trigger="changed, blur"
        name="date"
        id="inpDate"
        value="{{ article.date }}"
      >
<!--
        _=" on load call set_my_value(me)
            on input call doAutosave(event.target)
              if < #revert /> is not empty
                remove .hidden from #revert
              end
            end
            "
-->
    </div>

    <label for="inpTags">
      Tags
      <span class="autosaved hidden">✔ Autosaved</span>
    </label>
    <input
      type="text"
      name="tags"
      id="inpTags"
      value="{{ article.tags }}"
    >
<!--
      _=" on load call set_my_value(me)
          on input call doAutosave(event.target)
            if < #revert /> is not empty
              remove .hidden from #revert
            end
          end
      "
-->
    <label for="inpMainImage">Main image</label>
    <input type="file" name="main_image" id="inpMainImage" accept="image/png, image/jpeg">

    <label for="selImageClass">
      Main image size
      <span class="autosaved hidden">✔ Autosaved</span>
    </label>
    <select
      name="imageClass"
      id="selImageClass"
    >
<!--
        _=" on load call set_my_value(me)
          on change call doAutosave(event.target)
            if < #revert /> is not empty
              remove .hidden from #revert
            end
          end
          "
-->
    <option value="">--Choose--</option>
      <option value="small" {% if article.imageclass == "small" %}selected{% endif %}>Small</option>
      <option value="medium" {% if article.imageclass == "medium" %}selected{% endif %}>Medium</option>
      <option value="large" {% if article.imageclass == "large" %}selected{% endif %}>Full column</option>
      <option value="full" {% if article.imageclass == "full" %}selected{% endif %}>Full screen-width</option>
    </select>

    <div id="error-message"></div>
    <small id="unpublished-changes"></small>

    <div class="button-group">


      <button
        id="revert"
        class="fullwidth has-icon {% if article.draft %}hidden{% endif %}"
      >
<!--
        _=" on load
              if are_saved_items()
                remove .hidden from me
              end
            end
          "
-->
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-rotate-ccw"><polyline points="1 4 1 10 7 10"></polyline><path d="M3.51 15a9 9 0 1 0 2.13-9.36L1 10"></path></svg>
        Revert properties to published
      </button>


      <!--
            NOTE: hx-vals might not be need below now that there's
            a hidden form input above
      -->
      <button
        data-articleid="{{ article.id }}"
        class="fullwidth {% if article.draft %}hidden{% endif %} has-icon"
        id="unpublish"
        hx-post="/admin/articles/{{ article.id }}/unpublish"
        hx-swap="none"
        hx-indicator="#unpublishLoading"
        hx-vals="js:{
            article_id: document.getElementById('unpublish').dataset.articleid
        }"
        hx-select=".status"
        hx-on::after-request="afterRequest('unpublish')"
      >
      <!-- hx-on::after-request="afterRequest(event.detail)" -->
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>
        <span id="unpublishAction">Unpublish</span>
        <span class="spinner spinner--hidden" id="unpublishLoading"></span>
      </button>

      <button
        data-articleid="{{ article.id }}"
        class="fullwidth has-icon green"
        id="publish"
        hx-post="/api/admin/articles/{{ article.id }}/publish"
        hx-swap="none"
        hx-indicator="#publishLoading"
        hx-vals="js:{
            md:           localStorage.getItem(`article_${document.getElementById('publish').dataset.articleid}`) || document.getElementById('edit-box').innerText,
            article_id:   document.getElementById('publish').dataset.articleid
        }"
        hx-select=".status"
        hx-on::after-request="afterRequest('publish')"
      >
      <!--afterRequest(event.detail)-->
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
        <span id="publishAction">Publish {% if not article.draft %}changes{% endif %}</span>
        <span class="spinner spinner--hidden" id="publishLoading"></span>
      </button>

    </div>
  </form>

</div>

<script>

  const Article = class {

    dataSource = "db";

    constructor({
      articleId,
      isDraft,
      alertUnpublishedChanges,
      alertArticleStatus,
      confAfterRequest,
      btRevert,
      btPublish,
      btUnpublish,
      inps
    }) {
      this.articleId = articleId;
      this.isDraft = isDraft;
      this.alertUnpublishedChanges = alertUnpublishedChanges;
      this.alertArticleStatus = alertArticleStatus;
      this.confAfterRequest = confAfterRequest;
      this.btRevert = btRevert;
      this.btPublish = btPublish;
      this.btUnpublish = btUnpublish;
      this.inputs = inps;
      this.dataSource = this.getDataSource();
      this.events.mainLoad()
    }

    getDataSource() {
      /*
        Find out if there are any items in localStorage
        for this article
      */
      let storageKeyPrefix = 'article_' + this.articleId;
      if (localStorage.getItem(storageKeyPrefix) !== null){
        return "localStorage";
      } else {
        for(const input of this.inputs){
          let storageKey = storageKeyPrefix + "_" + input.name
          if (localStorage.getItem(storageKey) !== null) {
            input.value = localStorage.getItem(storageKey);
            return "localStorage"; // Got one, so return
          }
        }
      }
    }

    states = {
      published:{
        changes:{
          do:() => {
            this.isDraft = 0;
            this.alertUnpublishedChanges.innerText = 'There are unpublished changes';
            this.btRevert.classList.remove("hidden");
            this.btUnpublish.classList.remove("hidden");
            this.alertArticleStatus.innerHTML = "published";
          }
        },
        no_changes: {
          do:() => {
            this.isDraft = 0;
            this.btUnpublish.classList.remove("hidden");
            this.alertUnpublishedChanges.innerText = '';
            if(this.btRevert !== null) {
              this.btRevert.classList.add("hidden");
            }
            this.alertArticleStatus.innerHTML = "published";
          }
        }
      },
      draft:{
        do:() => {
          this.isDraft = 1;
          this.btUnpublish.classList.add("hidden");
          if(this.btRevert !== null) {
            this.btRevert.classList.add("hidden");
          }
          this.alertArticleStatus.innerHTML = "draft";
        }
      }
    }

    get events() {
      /*
        These determine the current state
      */
      return {
        mainLoad:() => {
          if(parseInt(this.isDraft) == 0){
            if(this.dataSource === "localStorage"){
              this.currentState = this.states.published.changes;
            } else {
              this.currentState = this.states.published.no_changes;
            }
          } else {
            this.currentState = this.states.draft;
          }
          this.currentState.do();
        },
        autosave:(inpEl) => {
          var msAfterInputStops = 1500;
          var msShowAlertFor = 2000;
          clearTimeout(inpEl._timer);
          inpEl._timer = setTimeout(()=>{
            localStorage.setItem(`article_${a.articleId}_${inpEl.name}`, inpEl.value)
            let signalEl = inpEl.labels[0].querySelector(".autosaved")
            signalEl.classList.remove("hidden");
            setTimeout(() => {
              signalEl.classList.add("hidden");
            }, msShowAlertFor);

            if (this.isDraft !== 1) {
              this.dataSource = "localStorage"
              this.currentState = this.states.published.changes;
            } else {
              this.currentState = this.states.draft;
            }
            this.currentState.do();
          }, msAfterInputStops);
        },
        publish:() => {

          /*
            Briefly show the signal
          */
          this.confAfterRequest.innerHTML = "✔ Published";
          this.confAfterRequest.classList.add("autosaved");
          setTimeout(() => {
            this.confAfterRequest.innerHTML = "";
            this.confAfterRequest.classList.remove("autosaved");
          }, 2500);

          /*
            Remove the localStorage items
            for the current article
          */
          let storageKeyPrefix = 'article_' + this.articleId;
          localStorage.removeItem(storageKeyPrefix)
          for(const input of this.inputs){
            let storageKey = storageKeyPrefix + "_" + input.name
            localStorage.removeItem(storageKey);
          }
          this.dataSource = "db";
          this.currentState = this.states.published.no_changes;
          this.currentState.do();
        },
        unpublish:() => {

          this.confAfterRequest.innerHTML = "✔ Unpublished";
          this.confAfterRequest.classList.add("autosaved");
          setTimeout(() => {
            this.confAfterRequest.innerHTML = "";
            this.confAfterRequest.classList.remove("autosaved");
          }, 2500);

          this.currentState = this.states.draft;
          this.currentState.do();
        },
      }
    }

  } // Class

  const a = new Article({
    articleId: document.getElementById("inpArticleID").value,
    isDraft: document.getElementById("inpDraft").value,
    alertUnpublishedChanges: document.getElementById("unpublished-changes"),
    alertArticleStatus: document.getElementById("article-status"),
    confAfterRequest: document.getElementById("confirm-published"),
    btRevert: document.getElementById("revert"),
    btPublish: document.getElementById("publish"),
    btUnpublish: document.getElementById("unpublish"),
    inps: document.querySelectorAll("input, select")
  })

  function slugify(str) {
    return String(str)
    .normalize('NFKD')
    .replace(/[\u0300-\u036f]/g, '')
    .trim()
    .toLowerCase()
    .replace(/[^a-z0-9 -]/g, '')
    .replace(/\s+/g, '-')
    .replace(/-+/g, '-');
  }

  function afterRequest(whatHappened) {
    console.log("whatHappened: " + whatHappened);
    switch(whatHappened) {
      case "publish":
        a.events.publish()
        break;
      case "unpublish":
        a.events.unpublish()
        break;
    }
  }

  a.inputs.forEach((inp) => {
    if(inp.type !== "hidden") {
      inp.addEventListener("input", (ev) => {
        a.events.autosave(ev.currentTarget);
      })
    }
  })
</script>

<style>
  #unpublished-changes {
    display: block;
    text-align: center;
    background: #bc6632;
    width: 240px;
    margin: 0 auto;
    border-radius: 3px;
    margin-top: 5px;
    color: #fff;
  }
  label .autosaved {
    float: right;
    padding: 0 5px;
    border-radius: 2px;
    line-height: 0.98rem;
    font-size: 0.7rem;
  }
  #confirm-published {
    padding: 0 4px;
    border-radius: 2px;
    display: inline-block;
    margin-left: 15px;
  }
  #error-message {
    color: white;
    background-color: rgb(198, 57, 57);
    padding: 5px 10px;
    border-radius: 3px;
    line-height: 0.9rem;
    font-size: 16px;
    opacity: 0;
    min-height: 30px;
  }
  .error {
    position: relative;
  }
  .error .error-message {
    position: absolute;
    right: 0;
    top: 2px;
  }
  #error-message.showing {
    opacity: 1;
  }
  .spinner {
    position: absolute;
    top: calc(50% - 0.55rem);
    width: 1rem;
    height: 1rem;
    border: 0.15rem solid #ffc000;
    border-bottom-width: 0.15rem;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 192, 0);
    border-bottom: 0.25rem solid rgba(0,0,0,0);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    z-index: 9999;
    margin: 0 0 10px 10px;
    margin-left: 8px;
  }

  .spinner--hidden {
    display: none;
  }

  .htmx-request {
    display: unset;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
.button-group {
  margin: 20px 0 20px;
}
#article-props-container {
  padding: 30px;
  font-size: 0.8rem;
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  /*display: grid;
  grid: auto-flow / 50%;*/
}

#article-props-container div.col:first-of-type {
  padding-right: 15px;
}
#article-props-container div.col:last-child {
  padding-left: 15px;
}

#article-props-container h1 {
  font-size: 1rem;
  display: inline-block;
}
input[type=checkbox] {
  width: 20px;
  height: 20px;
}
</style>