{% extends "admin/layouts/base.html" %}
{% block content %}
<button class="green has-icon push-right">
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg>
  New article
</button>
<table class="admin-table" _="on load call colourTheRows()" hx-boost="true">
  <caption>Articles</caption>
  <thead>
    <tr>
      <th></th>
      <th><button _="on click call sortTable(2)">Published</button></th>
      <th><button _="on click call sortTable(3)">Created</button></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for a in articles %}
    <tr class="row-showing">
      <td>
        <a href="/admin/edit/{{ a.slug }}/">{{ a.title }}</a>
      </td>
      <td>{% if a.draft %}<span class="tag">Draft</span>{% else %}{{ a.date }}{% endif %}</td>
      <td>{{ a.date_created }}</td>
      <td>
        <button hx-get="/admin/edit/{{ a.slug }}/" hx-target="body" hx-push-url="true">Edit</button>
        <button class="delete">Delete</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot></tfoot> <!-- tfoot optional -->
</table>
<script>

  function compareValues(a, b) {
    // return -1/0/1 based on what you "know" a and b
    // are here. Numbers, text, some custom case-insensitive
    // and natural number ordering, etc. That's up to you.
    // A typical "do whatever JS would do" is:
    return (a<b) ? -1 : (a>b) ? 1 : 0;
  }

  function sortTable(colnum) {
    // get all the rows in this table:
    const table = document.querySelector(".admin-table");
    let rows = Array.from(table.querySelectorAll("tr"));

    // but ignore the heading row:
    rows = rows.slice(1);

    // set up the queryselector for getting the indicated
    // column from a row, so we can compare using its value:
    let qs = `td:nth-child(${colnum})`;

    // and then just... sort the rows:
    rows.sort( (r1,r2) => {
      // get each row's relevant column
      let t1 = r1.querySelector(qs);
      let t2 = r2.querySelector(qs);

      // and then effect sorting by comparing their content:
      //return compareValues(t1.textContent,t2.textContent);

      //return t1.textContent.localeCompare(t2.textContent);
      return t2.textContent.localeCompare(t1.textContent);
    });

    // and then the magic part that makes the sorting appear on-page:
    rows.forEach(row => table.appendChild(row));
  }

  /*
  const allTables = document.querySelectorAll("table");

  for (const table of allTables) {
    const tBody = table.tBodies[0];
    const rows = Array.from(tBody.rows);
    const headerCells = table.tHead.rows[0].cells;

    for (const th of headerCells) {
      const cellIndex = th.cellIndex;

      th.addEventListener("click", () => {
        rows.sort((tr1, tr2) => {
          const tr1Text = tr1.cells[cellIndex].textContent;
          const tr2Text = tr2.cells[cellIndex].textContent;
          return tr1Text.localeCompare(tr2Text);
        });

        tBody.append(...rows);
      });
    }
  }
  */
</script>
<script type="text/hyperscript">
  def colourTheRows()
    repeat for tr in <table.admin-table tr.row-showing/> index i
        if i mod 2 == 0
            add .oddrow to it
        else
            remove .oddrow from it
        end
    end
  end
</script>
<style>
  table.admin-table {
    font-size: 0.8rem;
    width: 100%;
    /*border: 1px solid rgba(84, 143, 211, 0.3);*/
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background-color: #165a8f34;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 0 3px #0b2a42;
    /*background-color: #f1f1e6;*/
    /*color: #222;*/
  }
  thead > tr > th {
    text-align: left;
  }
  .oddrow {
    background-color: #08416d;
    /*background-color: #f3faff;*/
  }
  table.admin-table caption {
    color: #e3dfd4;
    text-align: left;
    font-size: 1.3rem;
    margin-bottom: 15px;
    font-family: 'Roboto Condensed', Ubuntu, Helvetica, Arial, sans-serif;
  }
  table.admin-table tr > th > button {
    padding: 0;
    background-color: unset;
  }
  table.admin-table tr > th:nth-child(1) {
    width: 65%;
  }
  table.admin-table tr > th:nth-child(2) {
    width: 10%;
  }
  table.admin-table tr > th:nth-child(3) {
    width: 10%;
  }
  table.admin-table tr > th:last-child {
    width: 15%;
  }

  table.admin-table tr > td:nth-child(1) {
    padding: 6px 0 6px 10px;
  }
    table.admin-table tr > td:last-child {
    padding-right: 5px;
    text-align: right;
  }
  table.admin-table tr > td {
    border-bottom: 1px solid rgba(84, 143, 211, 0.3);
  }
  table.admin-table tr:last-child > td {
    border-bottom: none;
  }
  table.admin-table button {
    padding: 7px 15px 3px;
    font-weight: normal;
    position: relative;
    top: -2px;
  }
  span.tag{
    background-color: #366a93;
    padding: 3px 10px;
    border-radius: 3px;
    color: #ddd;
    font-size: 0.7rem;
  }
  .row-showing {
    display: table-row;
  }
</style>
{% endblock %}