{% extends "admin/layouts/base.html" %}
{% block content %}
<!--  Should use anchor with href instead of the
      New, Edit, and Delete buttons
      (href is boosted so it comes to the same thing, but better markup is better)
-->
<button
  class="green has-icon push-right"
  hx-put="/admin/articles/new"
  hx-target="body"
  hx-push-url="true"
>
  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-3"><path d="M12 20h9"></path><path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path></svg>
  New article
</button>
<table
  class="admin-table"
  _=" on load
        ---hide #txtSearch
        call colourTheRows()
    "
  hx-boost="true"
>
  <caption>Articles</caption>
  <thead>
    <tr>
      <th>
        <!--
        <button _="on click toggle the *display of #txtSearch">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
        </button>
        <input type="search" placeholder="Search by title" id="txtSearch" _="on keyup call searchLocally(my value)">
        -->
      </th>
      <th>
          <button
            id="btSortByPublished"
            data-sortdirection="unsorted"
            data-sortby="published"
            _=" on click
                  call sortTable(2, me) then call colourTheRows()
              "
          >Published&nbsp; ▴▾
          </button>
      </th>
      <th>
        <button
          id="btSortByCreated"
          data-sortdirection="desc"
          data-sortby="created"
          _=" on click
                call sortTable(3, me)  then call colourTheRows()
            "
        >Created&nbsp; ▾
        </button>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for a in articles %}
    <tr class="row-showing">
      <td class="td-title">
        <a href="/admin/articles/{{ a.id }}/edit">{{ a.title }}</a>
      </td>
      <td>{% if a.draft %}<span class="tag">Draft</span>{% else %}{{ a.date }}{% endif %}</td>
      <td>{{ a.date_created }}</td>
      <td>
        <button hx-get="/admin/articles/{{ a.id }}/edit" hx-target="body" hx-push-url="true">Edit</button>
        <button hx-delete="/admin/articles/{{ a.id }}/delete" hx-target="body" class="delete" >Delete</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot></tfoot> <!-- tfoot optional -->
</table>
<script>
  function sortTable(colnum, me) {
    const table = document.querySelector(".admin-table");
    let rows = Array.from(table.querySelectorAll("tr"));
    rows = rows.slice(1);
    let qs = `td:nth-child(${colnum})`;

    rows.sort( (r1,r2) => {
      let t1 = r1.querySelector(qs);
      let t2 = r2.querySelector(qs);

      if(me.dataset.sortdirection=='asc' || me.dataset.sortdirection=='unsorted'){
        return t2.textContent.localeCompare(t1.textContent);
      }
      else{
        return t1.textContent.localeCompare(t2.textContent);
      }
    });

    if(me.dataset.sortdirection=='asc' || me.dataset.sortdirection=='unsorted'){
      me.dataset.sortdirection = 'desc';
      if(me.innerHTML.indexOf('▴▾') > -1){
        me.innerHTML = me.innerHTML.replace('▴▾', '▾');
      }
      else{
        me.innerHTML = me.innerHTML.replace('▴', '▾');
      }
    } else {
      me.dataset.sortdirection = 'asc';
      if(me.innerHTML.indexOf('▴▾') > -1){
        me.innerHTML = me.innerHTML.replace('▴▾', '▴');
      }
      else{
        me.innerHTML = me.innerHTML.replace('▾', '▴');
      }
    }

    const otherElId = me.id == 'btSortByCreated' ? 'btSortByPublished' : 'btSortByCreated'
    const otherEl = document.getElementById(otherElId);
    if(otherEl.innerHTML.indexOf('▴▾') < 0){
      console.log(otherEl.innerHTML);
      otherEl.innerHTML = otherEl.innerHTML.replace(/▴|▾/, '▴▾');
    }

    rows.forEach(row => table.appendChild(row));
  }
</script>
<script type="text/hyperscript">
---  def searchLocally(sTerm)
---    set i to 0
---    repeat for row in <table.admin-table tr />
---      if i is not equal to 0
---        log sTerm.toLowerCase()
---        if innerHTML as String of <td.td-title/> in row contains sTerm.toLowerCase()
---            add .row-showing to row
---            remove .hidden from row
---        else
---          remove .row-showing from row
---          add .hidden to row
---        end
---      end
---      increment i
---    end
---    colourTheRows()
---  end

  def colourTheRows()
    repeat for tr in <table.admin-table tr.row-showing/> index i
        if i mod 2 == 0
            add .oddrow to it
        else
            remove .oddrow from it
        end
    end
  end
</script>
<style>
  table.admin-table {
    font-size: 0.8rem;
    width: 100%;
    /*border: 1px solid rgba(84, 143, 211, 0.3);*/
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    background-color: #165a8f34;
    overflow: hidden;
    border-radius: 2px;
    box-shadow: 0 0 3px #0b2a42;
    /*background-color: #f1f1e6;*/
    /*color: #222;*/
  }
  thead > tr > th {
    text-align: left;
  }
  .oddrow {
    background-color: #08416d;
    /*background-color: #f3faff;*/
  }
  table.admin-table caption {
    color: #e3dfd4;
    text-align: left;
    font-size: 1.3rem;
    margin-bottom: 15px;
    font-family: 'Roboto Condensed', Ubuntu, Helvetica, Arial, sans-serif;
  }
  table.admin-table tr > th > button {
    padding: 0;
    background-color: unset;
  }
  table.admin-table tr > th:nth-child(1) {
    width: 65%;
    padding: 5px 0 10px 10px;
  }
  table.admin-table tr > th:nth-child(1) svg {
    vertical-align: bottom;
  }
  table.admin-table tr > th:nth-child(1) input {
    padding: 3px 8px;
    height: 30px;
    margin-left: 5px;
  }
  table.admin-table tr > th:nth-child(2) {
    width: 10%;
  }
  table.admin-table tr > th:nth-child(3) {
    width: 10%;
  }
  table.admin-table tr > th:last-child {
    width: 15%;
  }

  table.admin-table tr > td:nth-child(1) {
    padding: 6px 0 6px 10px;
  }
    table.admin-table tr > td:last-child {
    padding-right: 5px;
    padding-top: 5px;
    text-align: right;
  }
  table.admin-table tr > td {
    border-bottom: 1px solid rgba(84, 143, 211, 0.3);
  }
  table.admin-table tr:last-child > td {
    border-bottom: none;
  }
  table.admin-table button {
    padding: 7px 15px 3px;
    font-weight: normal;
    position: relative;
    box-shadow: none;
  }
  span.tag{
    background-color: #366a93;
    padding: 3px 10px;
    border-radius: 3px;
    color: #ddd;
    font-size: 0.7rem;
  }
  .row-showing {
    display: table-row;
  }
</style>
{% endblock %}