<div id="article-props-container">
  <div>
    <h1>Article status: <span id="article-status">{% if article.draft %}draft{% else %}published{% endif %}</span></h1>
    <div id="confirm-published"></div>
  </div>

  <form id="frm-article-properties">
    <label for="inpTitle">
      Title
      <span class="autosaved hidden">✔ Autosaved</span>
    </label>
    <input type="hidden" name="article_id" value="{{ article.id }}">
    <input autofocus type="text" name="title" id="inpTitle" value="{{ article.title }}">

    <div hx-target="this" hx-swap="outerHTML">
      <label for="inpSlug">
        Slug
        <span class="autosaved hidden">✔ Autosaved</span>
      </label>
      <input type="text" hx-post="/admin/validate_slug" hx-trigger="change, blur" name="slug" id="inpSlug" value="{{ article.slug }}">
    </div>

    <div hx-target="this" hx-swap="outerHTML">
      <label for="inpDate">Publication date</label>
      <input type="date" hx-post="/admin/validate_date" hx-trigger="change, blur" name="date" id="inpDate" value="{{ article.date }}">
    </div>

    <label for="inpTags">Tags</label>
    <input type="text" name="tags" id="inpTags" value="{{ article.tags }}">
    <label for="inpMainImage">Main image</label>
    <input type="file" name="main_image" id="inpMainImage" accept="image/png, image/jpeg">
    <label for="selImageClass">Main image size</label>
    <select name="imageClass" id="selImageClass">
      <option value="">--Choose--</option>
      <option value="small" {% if article.imageclass == "small" %}selected{% endif %}>Small</option>
      <option value="medium" {% if article.imageclass == "medium" %}selected{% endif %}>Medium</option>
      <option value="large" {% if article.imageclass == "large" %}selected{% endif %}>Full column</option>
      <option value="full" {% if article.imageclass == "full" %}selected{% endif %}>Full screen-width</option>
    </select>

    <div id="error-message">
    </div>

    <div class="button-group">
      <!--
            NOTE: hx-vals might not be need below now that there's
            a hidden form input above
      -->
      <!-- NOT NEEDED? hx-target="#confirm-published" -->
      <button
        data-articleid="{{ article.id }}"
        class="fullwidth {% if article.draft %}hidden{% endif %} has-icon"
        id="unpublish"
        hx-post="/admin/articles/{{ article.id }}/unpublish"
        hx-swap="none"
        hx-indicator="#unpublishLoading"
        hx-vals="js:{
            article_id: document.getElementById('unpublish').dataset.articleid
        }"
        hx-select=".status"
        hx-on::after-request="after_request(event.detail)"
      >
      <!-- hx-on::after-request="afterRequest('unpublish')" -->
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>
        <span id="unpublishAction">Unpublish</span>
        <span class="spinner spinner--hidden" id="unpublishLoading"></span>
      </button>

      <!-- NOT NEEDED? hx-target="#confirm-published" -->
      <button
        data-articleid="{{ article.id }}"
        class="fullwidth has-icon green"
        id="publish"
        hx-post="/api/admin/articles/{{ article.id }}/publish"
        hx-swap="none"
        hx-indicator="#publishLoading"
        hx-vals="js:{
            md:           localStorage.getItem(`article_${document.getElementById('publish').dataset.articleid}`) || document.getElementById('edit-box').innerText,
            article_id:   document.getElementById('publish').dataset.articleid
        }"
        hx-select=".status"
        hx-on::after-request="after_request(event.detail)"
      >
      <!-- hx-on::after-request="afterRequest(event.detail)" -->
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-send"><line x1="22" y1="2" x2="11" y2="13"></line><polygon points="22 2 15 22 11 13 2 9 22 2"></polygon></svg>
        <span id="publishAction">Publish {% if not article.draft %}changes{% endif %}</span>
        <span class="spinner spinner--hidden" id="publishLoading"></span>
      </button>
    </div>
  </form>

</div>

<script type="text/hyperscript">
  js
    // AUTOSAVE AFTER 1s NOT TYPING
    function doAutosave(inputElm) {
      var duration = 1500;
      clearTimeout(inputElm._timer);
      inputElm._timer = setTimeout(()=>{
        console.log("Saving")
        //localStorage.setItem("article_{{ article.id }}", inputElm.innerText)
        let signalEl = inputElm.labels[0].querySelector(".autosaved")
        signalEl.classList.remove("hidden");
          setTimeout(function() {
            signalEl.classList.add("hidden");
        }, 2000);
      }, duration);
    }
    return { doAutosave }
  end

  on input from < #frm-article-properties input[type=text] />
    call doAutosave(event.target)
    ---set inp to event.target
    ---log inp.labels
    ---wait 1.5s remove .hidden from .autosaved
    ---wait 2.5s then add .hidden to .autosaved
    ---localStorage.setItem("article_{{ article.id }}", inputElm.innerText)
  end


  def after_request(event_detail)
    if event_detail.elt matches < button#publish />
      --- USER CLICKED PUBLISH
      set res to JSON.parse(event_detail.xhr.response)

      if res.published
        put "" into #error-message then remove .showing from #error-message
        put "✔ Published" into #confirm-published then add .autosaved to #confirm-published
        put "published" into #article-status
        put "Publish changes" into #publishAction then remove .hidden from < button#unpublish />
        wait for 3s
        remove .autosaved from #confirm-published then put "" into #confirm-published
      else
        set msgs to ""
        repeat for field in res.errors
          if field.error_message is not really equal to undefined
            if msgs is not equal to ""
              append "<br>" to msgs
            end
            append `${field.name}: ${field.error_message}` to msgs
          end
        end

        if msgs is not really equal to ""
          put msgs into #error-message
          add .showing to #error-message
        end
      end
    else
      --- USER CLICKED UNPUBLISH
      localStorage.removeItem('article_' + #publish.dataset.articleid)
      put "Publish" into #publishAction
      add .hidden to <button#unpublish/>
      put "draft" into #article-status
      put '✔ Unpublished' into #confirm-published then add .autosaved to #confirm-published
      wait for 3s
      remove .autosaved from #confirm-published then put "" into #confirm-published
    end

  end
  ---
  ---def afterRequest(action, event_detail)
  ---  if action is 'publish'
  ---    localStorage.removeItem('article_' + #publish.dataset.articleid)
  ---    put "Publish changes" into #publishAction
  ---    remove .hidden from <button#unpublish/>
  ---    put "published" into #article-status
  ---    put "✔ Published" into #confirm-published
  ---  end
  ---  if action is 'unpublish'
  ---    localStorage.removeItem('article_' + #publish.dataset.articleid)
  ---    put "Publish" into #publishAction
  ---    add .hidden to <button#unpublish/>
  ---    put "draft" into #article-status
  ---    put '✔ Unpublished' into #confirm-published
  ---  end
  ---  wait for 3s
  ---  if #confirm-published is not empty
  ---    put '' into #confirm-published
  ---  end
  ---end
</script>
<style>
  label .autosaved {
    float: right;
    padding: 0 5px;
    border-radius: 2px;
    line-height: 0.98rem;
    font-size: 0.7rem;
  }
  #confirm-published {
    padding: 0 4px;
    border-radius: 2px;
    display: inline-block;
    margin-left: 15px;
  }
  #error-message {
    color: white;
    background-color: rgb(198, 57, 57);
    padding: 5px 10px;
    border-radius: 3px;
    line-height: 0.9rem;
    font-size: 16px;
    opacity: 0;
    min-height: 30px;
  }
  #error-message.showing {
    opacity: 1;
  }
  .spinner {
    position: absolute;
    top: calc(50% - 0.55rem);
    width: 1rem;
    height: 1rem;
    border: 0.15rem solid #ffc000;
    border-bottom-width: 0.15rem;
    border-bottom-style: solid;
    border-bottom-color: rgb(255, 192, 0);
    border-bottom: 0.25rem solid rgba(0,0,0,0);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    z-index: 9999;
    margin: 0 0 10px 10px;
    margin-left: 8px;
  }

  .spinner--hidden {
    display: none;
  }

  .htmx-request {
    display: unset;
  }

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
.button-group {
  margin: 60px 0 20px;
}
#article-props-container {
  padding: 30px;
  font-size: 0.8rem;
  /*display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  /*display: grid;
  grid: auto-flow / 50%;*/
}

#article-props-container div.col:first-of-type {
  padding-right: 15px;
}
#article-props-container div.col:last-child {
  padding-left: 15px;
}

#article-props-container h1 {
  font-size: 1rem;
  display: inline-block;
}
input[type=checkbox] {
  width: 20px;
  height: 20px;
}
</style>