{% extends "admin/layouts/base.html" %}
{% block content %}
<table class="admin-table" _="on load call colourTheRows()" hx-boost="true">
  <caption>Articles</caption>
  <tbody>
    {% for a in articles %}
    <tr class="showing">
      <td><a href="/admin/edit/{{ a.slug }}/">{{ a.title }}</a></td>
      <td>
        <button hx-get="/admin/edit/{{ a.slug }}/" hx-target="body" hx-push-url="true">Edit</button>
        <button class="delete">Delete</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot></tfoot> <!-- tfoot optional -->
</table>
<script type="text/hyperscript">
  def colourTheRows()
    repeat for tr in <table.admin-table tr.showing/> index i
        if i mod 2 == 0
            add .oddrow to it
        else
            remove .oddrow from it
        end
    end
  end
</script>
{% endblock %}