{% extends "admin/layouts/base.html" %}
{% block content %}
<table
  id="admin-table-bin"
  class="admin-table bin"
  hx-boost="true"
>
  <caption>Deleted articles</caption>
  <thead>
    <tr>
      <th>
      </th>
      <th>
        <button
          id="btSortByCreated"
          data-sortdirection="desc"
          data-sortby="created"
          data-colnum="3"
        >Created&nbsp; ▾
        </button>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for a in articles %}
    <tr class="row-showing">
      <td class="td-title">
        {{ a.title }}
      </td>
      <td data-js-formatdate>{{ a.date_created }}</td>
      <td>
        <button hx-get="/admin/articles/{{ a.id }}/edit" hx-target="body" hx-push-url="true">Restore</button>
        <button hx-delete="/admin/articles/{{ a.id }}/delete" hx-target="body" class="delete" >Purge</button>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  <tfoot></tfoot> <!-- tfoot optional -->
</table>
<style>
  table#admin-table-bin tr > th:nth-child(1) {
    width: 65%;
    padding: 5px 0 10px 10px;
  }
  table#admin-table-bin tr > th:nth-child(1) svg {
    vertical-align: bottom;
  }
  table#admin-table-bin tr > th:nth-child(1) input {
    padding: 3px 8px;
    height: 30px;
    margin-left: 5px;
  }
  table#admin-table-bin tr > th:nth-child(2) {
    width: 10%;
  }
  table#admin-table-bin tr > th:nth-child(3) {
    width: 15%;
  }
  table#admin-table-bin tr > th:last-child {
    width: 20%;
  }
</style>
{% endblock %}