{% extends "admin/layouts/base.html" %}
{% block content %}
<div class="supertitle">
  <span id="link-container">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
    <a
        href="/admin/{{ article.slug }}/properties"
        title="Article properties"
        target="articlePropeties"
        hx-post="/admin/{{ article.slug }}/properties"
        hx-target=".modal-inner"
        hx-on::after-request="showModal('props')"
    >
      Article properties
    </a>
  </span>
  <div id="revision">
    {% if article.draft %}
    {% else %}
    <span id="revision-message">Showing autosaved.</span>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-skip-back"><polygon points="19 20 9 12 19 4 19 20"></polygon><line x1="5" y1="19" x2="5" y2="5"></line></svg>
    <a href="#">
      Revert to published
    </a>
    {% endif %}
  </div>
</div>

<div class="edit-container">
  <section class="edit">
    <div class="editable" contenteditable="true"
    _="
        --- ################################################################################
        --- #
        --- # MAY HAVE TO ADD ERROR HANDLING WHEN LOCASTORAGE IS FULL
        --- # See here for exceptions in hyperscript: https://hyperscript.org/features/def/
        --- # See here for distinguishing localStorage exceptions:
        --- #  https://mmazzarolo.com/blog/2022-06-25-local-storage-status/
        --- #
        --- ################################################################################

        on load
          if localStorage.article_{{ article.id }} is not empty
            set my innerText to localStorage.article_{{ article.id }}
            call do_html(me.innerText)
          end
        on input
          call do_html(me.innerText)
        on keyup
          call doAutosave(me)
        on scroll
          set scrollTop of #pre-preview to my.scrollTop
        on keydown[key is 'Tab']
          halt the event then call document.execCommand('insertText', false, '&#009')
        "
    >{{ article.md }}</div>
    <small>
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-external-link"><path d="M18 13v6a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h6"></path><polyline points="15 3 21 3 21 9"></polyline><line x1="10" y1="14" x2="21" y2="3"></line></svg>
      <a
        href="/admin/markdown-cheatsheet"
        title="Markdown cheat-sheet"
        hx-get="/admin/markdown-cheatsheet"
        hx-target=".modal-inner"
        hx-on::after-request="showModal('markdown-cheatsheet')"
      >
        Markdown reference
      </a>
    </small>
  </section>

  <section class="preview">
    <!--  FULL PREVIEW: get the markdown conversion from the server,
          because showdown.js doesn't do proper typography

          ALSO, IF USING THE NEW TAB METHOD INSTEAD OF MODAL, WE NEED TO
          SET LOCAL STORAGE THEN OPEN THE NEW TAB NORMALLY:
          <a href="/admin/edit/{{ article.slug }}/preview"
            _="on click set localStorage.previewHtml to innerHTML of #pre-preview">
          OR SOMETHING LIKE THAT
    -->
    <a  href="/admin/edit/{{ article.slug }}/preview"
        title="Full preview"
        target="previewArticle"
        hx-post="/admin/edit/{{ article.slug }}/preview"
        hx-vals="js:{
            markdown: document.querySelector('.editable').innerText
        }"
        hx-target=".modal-inner"
        hx-on::after-request="showModal('preview')"
    >
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
    </a>
    <div id="pre-preview">
    {{ article.html|safe }}
    </div>
  </section>

  <!--_="on click remove .visible from .modal-container"-->
  <div class="modal-container"
    _="on click
        if the target of the event does not match <div.modal/> and the target of the event is not in <div.modal/>
          remove .visible from .modal-container
        end
      end
      "
  >
    <div class="modal">
        <button
          class="icon close"
          title="Close"
          _="on click remove .visible from .modal-container"
        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
        </button>
        <div id="answerLoading"></div>
        <div class="modal-inner">
        </div>
    </div>
  </div>

</div>
<script type="text/hyperscript">
  on keyup[key is 'Escape']
    remove .visible from .modal-container
  end

  def do_html(md)
    make a showdown.Converter called converter
    set html to converter.makeHtml(md.replaceAll('/bucket/', '{{ imagekit_bucket }}/'))
    put html into #pre-preview
    hljs.highlightAll()
  end

  def showModal(content)
    if content is 'markdown-cheatsheet'
      hide <button.close/>
    else
      show <button.close/>
    end
    if content is 'props'
      add .narrow to .modal
    else
      remove .narrow from .modal
    end
    add .visible to .modal-container
    if content is 'preview'
      hljs.highlightAll()
    end
  end

  js
    function preventIllicitPastings() {
      // Prevent user pasting in anything other than usual stuff
      // NOTE: Currently not using (doesn't quite work correctly)
      // --------------------------------------------------------
      const el = document.querySelector('.editable');
      el.addEventListener('paste', (e) => {
        let data = e.clipboardData.getData('text/html') ||
            e.clipboardData.getData('text/plain');
        let regex = /<(?!(\/\s*)?(a|b|i|em|s|code|pre|strong|u)[>,\s])([^>])*>/g;
        data = data.replace(regex, '');
        document.execCommand('insertHTML', false, data);
        e.preventDefault();
      });
    }
    return { preventIllicitPastings }
  end

  js
    // AUTOSAVE AFTER 1s NOT TYPING
    function doAutosave(inputElm) {
      var duration = 1000;
      clearTimeout(inputElm._timer);
      inputElm._timer = setTimeout(()=>{
        console.log("Saving")
        localStorage.setItem("article_{{ article.id }}", inputElm.innerText)
      }, duration);
    }
    return { doAutosave }
  end
</script>
<style>
small > svg {
  width: 17px;
  height: 17px;
  vertical-align: text-top;
}
.biggles {
  font-size: 1.2rem;
  font-weight: bold;
}
button.close {
  position: sticky;
  float: right;
  top: 10px;
  right: 10px;
}
.narrow {
  width: 500px !important;
  min-width: unset !important;
}
.supertitle {
  font-size: 0.78rem;
  margin-bottom: 5px;
  width: 50%;
}
.supertitle #link-container svg {
  vertical-align: sub;
}
.supertitle #revision {
  float: right;
  margin-right: 12px;
}
.supertitle #revision svg {
  vertical-align: text-top;
  margin-right: -2px;
}
.supertitle #revision button {
  position: relative;
  top: -3px;
}
.edit-container {
  display: flex;
  flex-direction: row;
}
.edit-container section {
  width: 50%;
}
.edit-container section:first-child {
  margin-right: 25px;
}
.edit-container div.editable {
  white-space: pre-wrap;
  background-color: #f3eeee;
  color: #222;
  line-height: 1.34rem;
}
#article-edit-box {
  background: rgb(232, 229, 229);
  color: #222;
  padding: 20px;
  border-radius: 2px;
  font-size: 0.8rem;
  width: 100%;
  height: 80vh;
  /*white-space: pre;*/
}
textarea,
pre, #pre-preview, .editable {
  -moz-tab-size : 4;
  -o-tab-size : 4;
  tab-size : 4;
}
section.preview svg {
  float: right;
  margin-top: -30px
}
div#pre-preview, div.editable {
  height: 80vh;
  overflow: auto;
  font-size: 0.84rem;
  line-height: 1.38rem;
  background-color: #08416d;
  padding: 10px 15px 0 15px;
  border-radius: 2px;
}
div#pre-preview blockquote {
  border-radius: 2px;
  padding: 15px 25px 5px 50px;
  margin-left: 0;
  margin-right: 25px;
  position: relative;
  font-size: 0.8rem;
  line-height: 1.2rem;
}
div#pre-preview blockquote::before{
  font-family: "Roboto";
  content: "\201C";
  font-size: 5em;
  position: absolute;
  left: 5px;
  top: 35px;
}
div#pre-preview pre {
  background: #1f232b;
  border-radius: 2px;
  margin-left: 0px;
  margin-right: 10px;
  position: relative;
  overflow: auto;
  line-height: 1.2rem;
}
div#pre-preview pre code {
  font-family: 'Ubuntu Mono', 'Code New Roman', 'Source Code Pro', monospace !important;
  background: #1f232b;
}
div#pre-preview img {
    max-width: 95%;
    display: block;
}
div#pre-preview img+em {
    font-size: 0.8rem;
}
div#pre-preview p:first-child {
  margin-top: 0;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #433;
  background-color:rgba(0,0,0,0.5);
  display: none;
}

.modal-container.visible {
  display: block !important;
}

.modal {
  margin: 2.4rem auto;
  width: 80vw;
  min-width: 1000px;
  height: 89vh;
  /*background: #fffdf8;*/
  background-color: #0a4775;
  overflow-y: auto;
  z-index: 1000;
  border-radius: 2px;
  padding: 0;
  position: relative;
}
</style>
{% endblock %}