{% extends "admin/layouts/base.html" %}
{% block content %}
<div class="super-row">
  <form
    id="frm-upload"
    hx-encoding="multipart/form-data"
    hx-post="/admin/images/upload"
    hx-target="#imagelist"
    hx-indicator="#uploadSpinner"
  >
  <!--_="on htmx:xhr:progress(loaded, total) set #progress.value to (loaded/total)*100"-->
    <button
      class="green has-icon new"
    >
    <label for="imageUpload">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-plus"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
        New image
      </label>
      <input type="file" id="imageUpload" name="imageUpload" accept=".png, .jpg, .jpeg" />
    </button>
    <!--<progress id='progress' value='0' max='100'></progress>-->
  </form>
</div>

<ul id="imagelist" hx-trigger="load, uploadComplete from:body" hx-get="/admin/images/get">
  <div class="spinner imgLoading nonabsolute"></div>
</ul>

<div class="modal-container"
_="on click
    if the target of the event does not match <div.modal/> and the target of the event is not in <div.modal/>
      remove .visible from .modal-container
    end
  end
  "
>
  <div class="modal image">
      <button
        class="icon close"
        title="Close"
        _="on click remove .visible from .modal-container"
      >
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
      </button>
      <div id="answerLoading"></div>
      <div class="modal-inner">
      </div>
  </div>

</div>

<style>
  #imagelist .spinner {
    margin-top: 7px;
    width: 1.6rem;
    height: 1.6rem;
  }
  .super-row {
    overflow: auto;
  }
  button.new {
    float: right;
    padding: 0;
  }
  input[type='file'] {
    display: none;
  }
  label[for='imageUpload'] {
    display: inline-block;
    padding: 5px 20px 7px;
    cursor: pointer;
    line-height: 1rem;
  }
  #imagelist {
    clear: both;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    background-color: #165a8f34;
    box-shadow: 0 0 1px #0b2a42;
    padding: 10px;
    justify-content: center;
  }
  #imagelist li {
    margin: 5px 5px 35px;
    background: rgb(7, 50, 83);
    display: flex;
    flex-direction: column;
    position: relative;
    width: 170px;
    height: 250px;
  }
  #imagelist li a {
    padding: 10px;
    border-radius: 3px;
    display: block;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
  }
    #imagelist li a:hover {
    background-color: rgb(8, 32, 50);
  }
  #imagelist button {
    position: absolute;
    right: 0;
    bottom: -28px;
  }
  .modal.image > .modal-inner {
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .modal.image img {
    max-height: 85vh;
  }
</style>
{% endblock %}