{% extends "layouts/base.html" %}
{% block content %}
<h1>{{ article.title }}</h1>
<article class="blog-article">

    <!--<img
        src='https://ik.imagekit.io/alistairrobinson/blog/tr:w-800,q-80/{{ article.slug }}.jpg'
        alt='Image representing {{ article.title }}'
        class='{{ article.imageclass }}'
    >-->
    {% if article.main_image %}
    <img
        src='https://ik.imagekit.io/alistairrobinson/blog/tr:w-800,q-80/{{ article.main_image }}'
        alt='Image representing {{ article.title }}'
        class='{{ article.imageclass }}'
    >
    {% endif %}
    {{ article.html|safe }}
</article>
<script>hljs.highlightAll();</script>
{% endblock %}