<h1><%= title %></h1>
<article>
    <%= article %>
</article>

<style>
blockquote {
    background: #43474d;
    border-radius: 5px;
    padding: 5px 25px;
    margin-left: 0;
}
article img {
    max-width: 90vw;
}
@media (min-width: 600px) {
    article img {
        max-width: 70vw;
    }
}
@media (min-width: 1100px) {
    article img {
        max-width: 55vw;
    }
}
</style>