<header>
    <a href="/" class="sitename">blog.alistairrobinson.me</a>
    <a href="/">Home</a>
    <a href="/tags">tags</a>
    <a href="/about">About</a>
</header>

<style>
header {
    font-size: 0.8rem;
    padding: 5px 15px;
    display: flex;
    justify-content: right;
}
header a {
    margin-left: 1.1rem;
}
header a.sitename {
    position: absolute;
    left: 10px;
    margin-left: 0;
}
</style>