<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed">
    <link rel="stylesheet" href="/styles/global.css?v={{ cachebust }}">
    <link rel="icon" href="favicon.ico?v={{ cachebust }}" type="image/x-icon" />
    <script src="/scripts/htmx.min.js" defer></script>
    <script src="/scripts/_hyperscript.min.js" defer></script>
    <script src="/scripts/json-enc.js" defer></script>
    <meta name="htmx-config" content='{
        "selfRequestsOnly": true
    }'>
</head>
<body>
    {% include "components/header.html" %}
    <main>
        {% if error_message %}
        <h1>{{ error_msg }}</h1>
        {% endif %}
        {% block content %}{% endblock %}
    </main>
    <script>
        // Encoding UTF-8 ⇢ base64
        function b64EncodeUnicode(str) {
            return btoa(encodeURIComponent(str).replace(/%([0-9A-F]{2})/g, function(match, p1) {
                return String.fromCharCode(parseInt(p1, 16))
            }))
        }

        // Decoding base64 ⇢ UTF-8
        function b64DecodeUnicode(str) {
            return decodeURIComponent(Array.prototype.map.call(atob(str), function(c) {
                return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2)
            }).join(''))
        }
        document.body.addEventListener('htmx:configRequest', function(evt) {
            console.log(evt.detail);
            evt.detail.headers['Authorization'] = "Basic " + b64EncodeUnicode(evt.detail.parameters.username + ":" + evt.detail.parameters.password);
            evt.detail.parameters.username = '';
            evt.detail.parameters.password = '';
            //evt.detail.parameters.password = b64EncodeUnicode(evt.detail.parameters.password); // add a new parameter into the mix
        });
    </script>
</body>
</html>