<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed">
    <link rel="stylesheet" href="/styles/global.css?v={{ cachebust }}">
    <link rel="stylesheet" href="/styles/admin.css?v={{ cachebust }}">
    <link rel="icon" href="/images/favicon.ico?v={{ cachebust }}" type="image/x-icon" />
    <script src="/scripts/htmx.min.js" defer></script>
    <script src="/scripts/_hyperscript.min.js" defer></script>
    <script src="/scripts/json-enc.js" defer></script>
    <script src="/scripts/showdown.min.js" defer></script>

    <link rel="stylesheet" href="/scripts/highlight/styles/github-dark.min.css">
    <script src="/scripts/highlight/highlight.min.js"></script>

    <meta name="htmx-config" content='{
        "selfRequestsOnly": true
    }'>
</head>
<body hx-headers='{"X-CSRFToken": "{{ csrftoken }}"}'>
    <header hx-boost="true">
        <a href="/" class="logo" title="Home">
          <!--<img src="/images/bird1-logo.webp" alt="logo">-->
        </a>
        <nav>
          <a href="/">Home</a>
          <a href="/tags">Tags</a>
          <a href="/about">About</a>
          {% if user_authenticated %}
          <a href="/admin">Admin</a>
          <button hx-get="/admin/logout" hx-target="body" hx-push-url="true">Sign out</button>
          {% else %}
          <button hx-get="/admin/login" hx-target="body" hx-push-url="true">Sign in</button>
          {% endif %}
        </nav>
    </header>
    {% block admin_sidebar %}{% endblock %}
    <main class="{% if admin %}admin{% endif %} {% if extended_main %}extended{% endif %} {{ sidebar_collapsed }}">
        {% if error_message %}
        <h1>{{ error_msg }}</h1>
        {% endif %}
        {% block content %}{% endblock %}
    </main>
    <script>hljs.highlightAll();</script>
</body>
</html>