main.admin {
  width: 73%;
  max-width: 73%;
  margin-left: 21%;
}
main.admin.extended { /* for e.g., article edit */
  width: 77%;
  max-width: 77%;
  margin-left: 19%;
  padding-top: 75px;
  height: 100%;
}
main.admin.collapsed { /* when sidebar is collapsed */
  margin: 0 0 0 80px;
  width: 91%;
  max-width: 91%;
}
main.admin.extended.collapsed {
  max-width: unset;
  margin-left: unset;
  margin-right: unset;
  width: unset;
  margin: 0 10px 0 50px !important;
}
button svg {
  height: 1.3rem;
  vertical-align: bottom;
  margin-right: 0;
}
button.has-icon {
  padding-top: 5px;
  padding-left: 22px;
}
button.green {
  background-color: #2f71bc;
}
button.green:hover {
  background-color: #2889f8
}
button.push-right{
  position: absolute;
  right: 0;
}