html,
body {
    background: #0a4775;
    color: #e3dfd4;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Ubuntu, -apple-system,BlinkMacSystemFont,'avenir next',avenir,'helvetica neue',helvetica,ubuntu,roboto,noto,'segoe ui',arial,sans-serif;
    line-height: 1.62;
    font-size: 22px;
    height: 100%;
}

* {
    box-sizing: border-box;
}
a {
    color: #a3cdfd;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: white;
}
main {
    width: 95%;
    margin: 0 auto;
    display: block;
    padding: 100px 0 200px;
    position: relative;
}
small {
  font-size: 0.7rem;
}
h1, h2, h3, h4 {
    font-family: 'Roboto Condensed', Ubuntu, Helvetica, Arial, sans-serif;
}
h2, h3, h4 {
    margin-top: 2rem;
}
h1 {
    font-size: 1.6rem;
    line-height: 1.9rem;
}
h2 {
    font-size: 1.4rem;
    line-height: 1.6rem;
}
h3 {
    font-size: 1.2rem;
    line-height: 1.4rem;
}
@media (min-width: 600px) {
    h1 {
        font-size: 2rem;
        line-height: 2.4rem;
    }
    main {
        width: 80%;
    }
}
@media (min-width: 1000px) {
    main {
        width: 60%;
        max-width: 700px;
    }
}
.button-row {
    margin-top: 1rem;
    display: flex;
    justify-content: right;
}
button {
    background-color: #2f837d;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 10px 25px 8px;
    font-size: 16px;
    font-weight: bold;
    font-family: -apple-system,BlinkMacSystemFont,'avenir next',avenir,'helvetica neue',helvetica,ubuntu,roboto,noto,'segoe ui',arial,sans-serif;
}
button:hover {
    cursor: pointer;
    background-color: #24b3a9;
}
button.delete {
    background-color:#b1403a;
}
button.delete:hover {
    background-color:#ea2419;
}
button.fullwidth {
  width: 100%;
  margin: 10px 0 0;
}
button.small {
  font-size: 0.6rem;
  line-height: 0.3rem;
  font-weight: normal;
}

input[type="checkbox"] {
    margin-top: 15px;
}

input[type='text'], input[type='date'], input[type='password'], input[type='file'], select {
    display: block;
    padding: 10px;
    width: 100%;
    margin: 0 0 10px 0;
}

input, textarea, #editBox, select {
    border-radius: 2px;
    border: none;
    font-size: 18px;
    box-shadow: inset 2px 2px 2px #454d605c;
    background: rgb(232, 229, 229);
}


/* header */
header {
    font-size: 0.8rem;
    padding: 6px 15px;
    display: flex;
    justify-content: right;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;

    /* Glassmorphism */
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.06);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid rgba(84, 143, 211, 0.3);
}
header .logo {
    display: flex;
    height: 25px;
    width: 25px;
    background-color: #ffff97; /*#dcf2ff;*/
    background-color: #f36999;
    border-radius: 50%;
    margin-top: 2px;
    position: absolute;
    left: 10px;
    margin-left: 0;
}
header nav a {
    margin-left: 0.6rem;
}
header nav button {
  margin-left: 0.6rem;
  position: relative;
  top: -2px;
  width: 100px;
}

/* blog article */
.blog-article a {
    text-underline-offset: 4px;
    text-decoration: underline;
    text-decoration-color: #a3cdfd7f;
}
.blog-article a:hover {
    text-decoration-style: solid;
    text-decoration-color: #a3cdfd;
}
.blog-article blockquote {
    border-radius: 2px;
    padding: 5px 25px 5px 45px;
    margin-left: 0;
    margin-right: 25px;
    position: relative;
    font-size: 0.8rem;
    line-height: 1.2rem;
}
.blog-article blockquote::before{
  font-family: "Roboto";
  content: "\201C";
  font-size: 5em;
  position: absolute;
  left: 0;
  top: 36px;
}
code {
  background: #1f232b;
  padding: 2px 4px;
  border-radius: 2px;
}
.blog-article pre {
  background: #1f232b;
  border-radius: 2px;
  margin-left: 0px;
  margin-right: 10px;
  overflow: auto;
  line-height: 1.2rem;
}
.blog-article pre code {
  font-size: 0.9rem;
  position: relative;
  background: #1f232b;
  font-family: 'Ubuntu Mono', 'Code New Roman', 'Source Code Pro', monospace !important;
}
.blog-article img {
    max-width: 95%;
    display: block;
}
.blog-article img+em {
    font-size: 0.8rem;
}
@media (min-width: 960px) {
    .blog-article img.mainImageSmaller {
        max-width: 640px;
    }
}
.blog-article img.mainImageSmallest {
    width: 95vw;
    max-width: 240px;
}

/* article list */
ul.article-list {
    list-style-type: none;
    padding-left: 0;
}
ul.article-list li {
    margin-bottom: 0.65rem;
}
ul.article-list li > a:first-child {
    font-weight: 900;
    font-size: 1.3rem;
    line-height: 1.3rem;
    display:block;
    font-family: 'Roboto Condensed', Ubuntu, -apple-system,BlinkMacSystemFont,'avenir next',avenir,'helvetica neue',helvetica,ubuntu,roboto,noto,'segoe ui',arial,sans-serif;
}
ul.article-list li small {
  font-size: 0.76rem;
  color: #b5b5b5;
}
ul.article-list li small .home-tags {
  font-size: 0.7rem;
  margin-left: 15px;
  color: #508ab6;
}
ul.article-list li small .home-tags a {
  color: #8f9ec0;
}
/* tags */
ul.tag-list {
    color: rgba(84, 143, 211, 0.8);
    list-style-type: none;
    padding-left: 0;
}
ul.tag-list li {
    display: inline-block;
}

/* admin */
form.login {
    width: 100%;
}
@media (min-width: 800px) {
    form.login {
        width: 60%;
    }
}
form .error {
    color: rgb(255, 160, 160);
    margin-top: 20px;
}