{% extends "layouts/base.html" %}
{% block admin_sidebar %}
<div id="sidebar">
  <button id="toggle-sidebar" _="on click call collapseSidebar()">
    <span data-feather="chevron-left"></span>
  </button>
  <nav>
    <a href="/admin/articles" id="articles" title="Articles" {% if title == 'Admin: articles' %}class="active"{% endif %}>
      <span data-feather="edit-3" style="color: white;"></span> Articles
    </a>
    <a href="/admin/pages"    id="pages" title="Pages" {% if title == 'Admin: pages' %}class="active"{% endif %}>
      <span data-feather="book-open" style="color: white;"></span> Pages
    </a>
    <a href="/admin/customize"id="customize" title="Customize" {% if title == 'Admin: customize' %}class="active"{% endif %}>
      <span data-feather="image" style="color: white;"></span> Customize
    </a>
    <a href="/admin/authors"  id="authors" title="Authors" {% if title == 'Admin: authors' %}class="active"{% endif %}>
      <span data-feather="users" style="color: white;"></span> Authors
    </a>
  </nav>
</div>
<style>
button#toggle-sidebar {
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #08426f;
}
#sidebar.collapsed {
  width: 45px;
  opacity: 1;
  transition: width 0.15s ease;
  padding-left: 12px;
}
#sidebar nav a {
    background: url("external-link-52.png") no-repeat 100% 0;
    background-size: 16px 16px;
    padding-right: 19px;
}
</style>
<script type="text/hyperscript">
  def collapseSidebar()
    add .collapsed to #sidebar
    put "🖊️" into #articles
    put "📃" into #pages
    put "🎨" into #customize
    put "🧑‍🤝‍🧑" into #authors
    hide <#sidebar>h3/>
    ---🖊️
  end
</script>
{% endblock %}