{% extends "layouts/base.html" %}
{% block admin_sidebar %}
<div id="sidebar">
  <button id="toggle-sidebar"
    _=" on click toggle .collapsed on #sidebar
        toggle .hidden on <svg.feather-chevron-right/>
        toggle .hidden on <svg.feather-chevron-left/>
        toggle the *display of <a span.text/>
        wait 150ms
        toggle .hidden on <a span.text/>
        "
  >
    <span data-feather="chevron-left"></span>
    <span class="hidden" data-feather="chevron-right"></span>
  </button>
  <nav>
    <a href="/admin/articles" class="admin-section {% if title == 'Admin: articles' %}active{% endif %}" id="articles" title="Articles">
      <span data-feather="edit-3" style="color: white;"></span><span class="text">Articles</span>
    </a>
    <a href="/admin/pages"    class="admin-section {% if title == 'Admin: pages' %}active{% endif %}" id="pages" title="Pages">
      <span data-feather="book-open" style="color: white;"></span><span class="text">Pages</span>
    </a>
    <a href="/admin/customize" class="admin-section {% if title == 'Admin: customize' %}active{% endif %}" id="customize" title="Customize">
      <span data-feather="image" style="color: white;"></span><span class="text">Customize</span>
    </a>
    <a href="/admin/authors"  class="admin-section {% if title == 'Admin: authors' %}active{% endif %}" id="authors" title="Authors">
      <span data-feather="users" style="color: white;"></span><span class="text">Authors</span>
    </a>
  </nav>
</div>
<style>
button#toggle-sidebar {
  padding: 0;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #08426f;
}
#sidebar {
  padding-top: 57px;
  width: 15%;
  border-right: 1px solid rgba(84, 143, 211, 0.3);
  top: 42px;
  height: 100%;
  position: fixed;
  background-color: #08426f;
  transition: width 0.15s ease;
}
#sidebar h3 {
  margin-top: 0;
}
#sidebar nav a {
  display: block;
  font-size: 0.8rem;
  padding: 10px 0 10px 20px;
  border-bottom: solid 1px #08426f;
}
#sidebar nav a svg {
  height: 1.3rem;
  vertical-align: bottom;
  margin-right: 10px;
}
#sidebar nav a.active, #sidebar nav a:hover {
  /*text-decoration: underline;
  text-underline-offset: 4px;*/
  text-decoration: none;
  color: white;
  background-color: #0b66ab;
  border-bottom: 1px solid rgba(84, 143, 211, 0.3);
}
#sidebar.collapsed {
  width: 45px;
  opacity: 1;
  transition: width 0.15s ease;
  padding-left: 0;
}
#sidebar.collapsed nav a {
  padding-left: 9px;
}
.hidden {
  display: none;
}
</style>
{% endblock %}